/* *{ border: 1px solid red; } */

body {
  background-image: url("../../../assets/images/default.webp");
}

.title-condimentum-consectetur-container {
  display: flex;
  margin: 0 2rem 0 2rem;
}

.title-condimentum-consectectur {
  font-family: Roboto;
  sans-serif: undefined;
  font-size: 34px;
  font-weight: bold;
  line-height: 72px;
  text-align: center;
  color: #ffffff;
}

.principal-container {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-top: 2%;
  margin-right: 2%;
  padding-bottom: 20px;
  background-color: #303141;
  border: 2px solid #3e465c;
}

.sortby-result-row {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
  justify-content: space-between;
  align-items: center;
}

.number-items {
  color: #ffffff;
}

.container-dropdown {
  padding: 16px;
  background: rgba(53, 58, 78, 0.5);
  border-radius: 2%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-sortby {
  width: 100%;
}

.container-adjust {
  display: flex;
  align-items: center;
}

.filter {
  width: 30%;
}

/* card styles */

.container-card {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
