* {
  /* border: 1px solid red !important; */
}

body {
  background-image: url("../../../assets/images/default.webp");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: 17%;
  margin-right: 17%;
}

.title-condimentum-consectetur-container {
  display: flex;
}

.title-condimentum-consectectur {
  font-family: Roboto;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.principal-container {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 6%;
  padding-bottom: 20px;
  background-color: #303141;
  border: 2px solid #3e465c;
}

.container-main {
  display: flex;
  flex-direction: column;
}

.sortby-result-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 2% 4% 0% 4%;
}

.number-items {
  color: #ffffff;
}

.container-dropdown-sort {
  background: rgba(53, 58, 78, 0.5);
  border-radius: 2%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(0px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6% 6% 6% 6%;
}

.container-sortby {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.container-arrow-down {
  margin-left: 2.4rem;
}

.container-adjust {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter {
  width: 30%;
}

/* card styles */

.container-card {
  margin-top: 2%;
  margin-left: 3.6%;
  margin-right: 3.6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: space-between;
}
