.row-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.container-dropdown {
  display: flex;
  padding: 1% 1% 1% 1%;

  background: rgba(61, 79, 136, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(61, 79, 136, 0.26);

  justify-content: center;
  align-items: center;
}

.container-select-a-game {
  margin-right: 2%;
}

.sword-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2%;
}

.sword {
  width: 5%;
}

.title-dropdown {
  font-family: Roboto;
  color: #fefefe;
  font-size: 0.9rem;
}

.label-search {
  font-family: Roboto;
  color: #8a8c9b;
  font-size: 0.9rem;
}

.accordian-arrow {
  width: 3%;
}

.search-icon {
  width: 3.6%;
}

.container-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1%;
}

.container-master-bag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1% 1% 1% 1%;
  background: rgba(61, 79, 136, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(61, 79, 136, 0.26);
}

.container-bag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 18%;
}

.container-item-bag {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-price {
  display: flex;
  flex-direction: column;
}

.title-price {
  font-family: Roboto;
  font-size: 0.5rem;
  color: #bababf;
}

.title-all {
  font-family: Roboto;
  font-size: 0.7rem;
  color: #ffffff;
}

.container-arrow-down {
  display: flex;
  align-items: center;
}

.accordian-arrow-price {
  width: 100%;
}
