.row-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-dropdown {
  display: flex;
  padding: 1% 1% 1% 1%;

  background-color: rgba(61, 79, 136, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(61, 79, 136, 0.26);

  /* z-index: 00; */
  align-items: center;
  width: 50%;
}

.sword-title-container {
  display: flex;
  align-items: center;
}

.container-label-select-game {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

.title-dropdown {
  display: flex;
  font-family: Roboto;
  color: #fefefe;
  font-size: 0.9rem;
}

.label-search {
  font-family: Roboto;
  color: #8a8c9b;
  font-size: 0.9rem;
}

.accordian-arrow {
  width: 0.5rem;
}

.sword-icon {
  width: 18px;
}

.search-icon {
  width: 18px;
}

.filter-select-a-game {
  margin-right: 2%;
  width: 20%;
}

.filter-search {
  width: 45%;
}

.container-select-a-game {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.container-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-search-icon {
  margin-right: 10px;
}

.container-sword-icon {
  margin-right: 1rem;
}

.container-master-bag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 10%;

  padding: 1% 1% 1% 1%;
  background: rgba(61, 79, 136, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(61, 79, 136, 0.26);
}

.container-bag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 18%;
  width: max-content;
}

.container-item-bag {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-price {
  display: flex;
  flex-direction: column;
}

.container-feather-icon {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.feather-icon {
  width: 100%;
}

.inner-container-item-type {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* margin-left: 10px; */
}

.title-price {
  font-family: Roboto;
  font-size: 0.5rem;
  color: #bababf;
  width: max-content;
}

.title-all {
  font-family: Roboto;
  font-size: 0.7rem;
  color: #ffffff;
}

.accordian-arrow-price {
  width: 100%;
}

.container-item-type {
  display: flex;
  align-items: center;
}

.title-item-type {
  font-family: Roboto;
  font-size: 0.5rem;
  color: #bababf;
}
