.card {
  display: flex;
  flex-direction: column;
  background-color: #323648;
  height: fit-content;
  padding: 1% 2% 1% 2%;
  border-radius: 1%;
  margin: 0.5% 0.5%;
}

.container-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10%;
}

.container-span-onsale-stock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-onsale {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-onsale {
  font-family: Roboto;
  sans-serif: undefined;
  font-size: 0.58rem;
  color: #ffffff;
}

.bullet-color {
  color: #00ffb7;
}

.container-instock {
  border-radius: 10%;
  margin-top: 10%;
  padding: 0.1rem 0.6rem;
  border: 2px solid #358870;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-stock {
  font-family: Roboto;
  sans-serif: undefined;
  font-size: 0.7rem;
  color: #358870;
}

.container-number {
  padding: 2% 10%;
  background-color: #3b445d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

.title-number {
  font-family: Roboto;
  sans-serif: undefined;
  font-size: 1rem;
  color: #fff;
}

.container-arrow {
  display: flex;
  flex-direction: column;
  margin-left: 100%;
}

.arrow {
  height: 0.5rem;
  width: 0.5rem;
}

.icon-card {
  height: 24%;
  width: 24%;
}

.container-game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 4%;
}

.title-game {
  font-family: Roboto;
  sans-serif: undefined;
  font-size: 1rem;
  color: #fff;
}

.icon-game {
  height: 10%;
  width: 10%;
}

.container-amount {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.generic-text {
  font-family: Roboto;
  sans-serif: undefined;
  font-size: 1rem;
  color: #fff;
}

.discount-amount {
  font-weight: 800;
  margin-right: 0.5rem;
  font-size: 0.9rem;
}

.original-amount {
  text-decoration: line-through red;
  font-size: 0.9rem;
}

.item-description {
  font-size: 0.7rem;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  color: #cccdd1;
}

.container-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.button-details {
  background-color: #383c4e;
  padding: 7% 10%;
  align-items: center;
  border-radius: 6%;
}

.text-details {
  color: #8991ad;
}

.container-add {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6%;
  background-color: #5762d5;
  border-radius: 9%;
  margin-left: 7%;
}

.container-shooping-cart {
  display: flex;
  background-color: #454da8;
  border-radius: 10%;
  padding: 0.4rem 0.5rem 0.2rem 0.5rem;
  margin-left: 10%;
}

.add-text {
  font-weight: 400;
  font-size: 1rem;
}

.icon-cart {
  width: 16px;
  height: 16px;
}
