.card {
  display: flex;
  flex-direction: column;
  background-color: #323648;
  height: fit-content;
  padding: 1rem 1rem;
  border-radius: 4%;
  margin: 0.2rem 0.2rem;
}

.container-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: auto; */
  margin-bottom: 20px;
}

.container-span-onsale-stock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-onsale{
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title-onsale {
  font-family: Roboto;
  sans-serif: undefined;
  font-size: 11px;
  color: #ffffff;
}

.bullet-color{
  color: #00ffb7;
}

.container-instock {
  border-radius: 10%;
  margin-top: 10%;
  padding: 0.1rem 0.6rem;
  border: 2px solid #358870;
  width: auto;

}

.title-stock {
  font-family: Roboto;
  sans-serif: undefined;
  font-size: 11px;
  color: #358870;
}

.container-number {
  padding: 1rem 1rem;
  background-color: #373e54;
  display: flex;
  flex-direction: row;
  border-radius: 10%;
  margin-left: 2.5rem;
}

.title-number {
  font-family: Roboto;
  sans-serif: undefined;
  font-size: 18px;
  color: #fff;
}

.container-arrow {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.arrow {
  height: 10px;
  width: 10px;
}

.icon-card {
  height: 24%;
  width: 24%;
}

.container-game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.title-game {
  font-family: Roboto;
  sans-serif: undefined;
  font-size: 16px;
  color: #fff;
}
.icon-game {
  height: 10%;
  width: 10%;
}

.container-amount {
  display: flex;
  flex-direction: row;
}

.generic-text {
  font-family: Roboto;
  sans-serif: undefined;
  font-size: 16px;
  color: #fff;
}

.discount-amount {
  font-weight: 800;
  margin-right: 0.5rem;
}

.original-amount {
  text-decoration: line-through red;
}

.item-description {
  font-size: 15px;
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

.container-button {
  display: flex;
  flex-direction: row;
}

.button-details {
  display: flex;
  background-color: #383c4e;
  padding: 0.6rem 0.8rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 10%;
}

.text-details {
  color: #8991ad;
}

.container-add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0.8rem;
  background-color: #5762d5;
  border-radius: 9%;
  margin-left: 14px;
}

.container-shooping-cart {
  background-color: #454da8;
  border-radius: 10%;
  padding: 0.6rem 0.5rem 0.4rem 0.5rem;
  margin-left: 10px;
}
