.container-footer {
  /* background-color: red; */
}

.container-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #2b2c3b;
  padding: 1% 17% 0.8% 17%;
  border: 3px solid #303141;
  gap: 1%;
}

.container-social-media-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.1%;
}

.average-method-paid-icon {
  width: 6rem;
}

.mastercard-icon {
  width: 4rem;
}

.generic-text-footer {
  font-family: Roboto;
  color: #bbbcc0;
}

.average-social-media-icon {
    width: 80%;
}

.container-footerdown {
  background-color: #303141;
  padding: 2% 17% 2% 17%;
}

.separator-line {
  height: 1px;
  background-color: #4c6085;
  border: none;
  margin-top: 2.5%;
}

.container-footer-columns {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8%;
  margin-top: 2.6%;
  padding: 0;
}

.container-footer-columns-list {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.container-footer-columns-list ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #9a9ba4;
  flex-direction: column;
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  gap: 0.46rem;
}

.container-footer-columns-list li {
  font-size: small;
  font-family: Roboto;
}

.special-container {
  margin-top: 1.6%;
}

.container-footer-last-column {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.footer-company-logo {
  width: 100%;
  margin-bottom: 10%;
}

.footer-email {
  color: #d6d7dd;
  font-weight: 500;
  font-size: 0.8rem;
}

.title-column {
  color: #fafcff;
  margin-bottom: 18%;
}

.start-icon {  
  width: 76%;
}

.footer-title-reviews {
  color: #9a9ba4;
  font-size: 0.8rem;
  font-weight: 100;
  font-family: Roboto;
}

.container-all-rights-reserved {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.label-all-rights-reserved {
  font-family: Roboto;
  color: #bababf;
  font-size: 0.75rem;
}
